<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime/>
	</startup>
	<appSettings>
		<add key="Producao" value="C:\Users\Lucas\OneDrive\Documentos\fake_db\Producao\"/>
		<add key="Desenvolvimento" value="C:\Users\Lucas\OneDrive\Documentos\fake_db\Desenvolvimento\"/>
	</appSettings>
</configuration>